---
import { contentfulClient } from '../../lib/contentful';
import type { Case } from '../../lib/contentful';
//Component Imports
import CaseList from './CaseList.jsx';

//Cases Imports
const cases = await contentfulClient.getEntries<Case>({
  content_type: 'caso',
});

const { show, lang, filters } = Astro.props;
---

<section class="mt-20">
  <div
    id="cases"
    class="mx-auto items-center px-4 py-10 sm:px-6 lg:w-[90vw] lg:px-6 lg:pb-24 lg:pt-24 xl:w-[70vw]"
  >
    <h2 class="mb-2 py-6 text-left text-6xl font-extrabold text-alpha">
      Nuestros Casos
    </h2>
    <div class="mx-auto py-16">
      <CaseList client:idle show={show} cases={cases} filters={filters} />
    </div>
  </div>
</section>
