---
//Component Imports
import CaseList from './CaseList.jsx';

//Posts Import
import { getCollection } from 'astro:content';
const postsData = await getCollection('cases');

interface Props {
  lang: string;
  show: number;
  filters: boolean;
}

const { show, lang, filters } = Astro.props;
---

<section class="text-gray-600 body-font wrapper mt-20">
  <h2 class="text-alpha-700 mb-2 text-center text-6xl font-extrabold">
    Nuestros Casos
  </h2>
  <div class="container mx-auto px-5 py-16">
    <CaseList client:idle show={show} postsData={postsData} filters={filters} />
  </div>
</section>
