---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import SliderSection from '../components/slider/SliderSection.astro';
import How from '../components/How.astro';
import Services from '../components/services/Services.astro';
import About from '../components/About.astro';
import Clients from '../components/clients/Clients.astro';
import Contact from '../components/Contact.astro';
import Why from '../components/Why.astro';
import Numbers from '../components/Numbers.astro';
---

<Layout title="Crecé Más - Marketing Digital">
  <Header />
  <!-- <SliderSection /> -->
  <Why />
  <!-- <Numbers /> -->
  <How />
  <div class="bg-gray">
    <Services />
    <About />
  </div>
  <Clients />
  <Contact />
</Layout>
