---
interface Props {
  lang: string;
}
const { lang } = Astro.props;

const data = {
  es: {
    title: 'Expertos en Marketing Digital nuevo',
    subtitle: `Somos un grupo de diseñadores, especialistas en marketing digital y
      desarrolladores con el deseo de ofrecer <span class="text-epsilon">soluciones</span
      > <span class="text-epsilon">creativas</span> y de calidad que se puedan adaptar a
      los requerimientos de cada cliente.`,

    contact: `<a class="border-b-2 pb-[0.25rem] font-bold text-bravo" href="#contact"
        >Contáctanos,</a> <span>o mira primero</span>`,
  },
  en: {
    title: 'Digital Marketing Experts',
    subtitle: `We are a group of designers, digital marketers and developers with the
      desire to offer <span class="text-bravo">creative</span> and quality <span
        class="text-epsilon">solutions</span
      > which can be adapted to the requirements of each customer.`,

    contact: `<a class="border-b-2 pb-[0.25rem] font-bold text-bravo" href="#contact"
        >Contact us,</a> <span> or take a look first</span>`,
  },
};
---

<header
  class="relative flex min-h-[100svh] flex-col items-center bg-alphaDark/70 bg-cover bg-center bg-no-repeat py-[7rem]"
>
  <video
    class="absolute top-0 -z-10 hidden h-[100svh] w-[100vw] object-cover lg:inline"
    playsinline
    autoplay
    muted
    loop
    poster="/vids/videoCoverDesktop.webp"
    id="bgvid"
  >
    <source src="/vids/desktopHeader.webm" type="video/wemb" />
    <source src="/vids/desktopHeader.mp4" type="video/mp4" />
  </video>
  <video
    class="absolute top-0 -z-10 h-[100svh] w-[100svw] object-cover lg:hidden"
    playsinline
    autoplay
    muted
    loop
    poster="/vids/videoCoverMobile.webp"
    id="bgvid"
  >
    <source src="/vids/mobileHeader.webm" type="video/wemb" />
    <source src="/vids/mobileHeader.mp4" type="video/mp4" />
  </video>
  <section
    class="center relative mx-auto flex h-full min-h-full grow flex-col justify-center gap-8 px-6 pb-0 sm:gap-0 lg:w-[80vw] lg:max-w-[1500px] lg:justify-center lg:gap-8 lg:px-0 lg:pb-0"
  >
    <h2
      class="2xl:leading[9rem] stroke-bravo text-center text-5xl font-extrabold uppercase leading-[3.1rem] tracking-wide text-white sm:text-[12vw] sm:leading-[14vw] sm:tracking-normal lg:w-[11ch] lg:self-start lg:text-left lg:text-[4rem] lg:font-bold lg:leading-[5.5rem] xl:text-[5.5rem] 3xl:text-[7rem] 3xl:leading-[7rem]"
    >
      {data[lang].title}
    </h2>
    <h3
      class="break-normal text-center text-[1.05rem] font-light text-white sm:font-normal lg:w-1/2 lg:text-left lg:text-[1.3rem] 3xl:text-2xl"
    >
      <Fragment set:html={data[lang].subtitle} />
    </h3>
    <h4
      class="absolute bottom-[0%] text-sm uppercase text-white lg:bottom-0 lg:right-0"
      data-aos="fade-left"
      data-aos-delay="400"
      data-aos-duration="700"
      data-aos-once="true"
    >
      <Fragment set:html={data[lang].contact} />
    </h4>
  </section>
</header>
