---

---

<header class=" lg:bg-[url('/imgs/mainHeader.webp')] bg-[url('/imgs/mobileHeader3.jpg')] min-h-[100svh] bg-cover bg-no-repeat bg-center pt-[9rem] flex flex-col items-center" > 
<section class="lg:w-[80vw] lg:max-w-[1500px] px-6 lg:px-0  mx-auto min-h-full flex flex-col justify-between h-full grow pb-36 ">
<h2 class="font-bold text-white text-[12vw] lg:text-[6rem] lg:leading-[7rem] lg:text-right lg:w-[11ch] xl:text-[7rem] xl:leading-[8rem] 2xl:text-[8rem] 2xl:leading[9rem]  leading-[14vw] lg:self-end lg:opacity-[80%] uppercase"> Expertos en marketing digital</h2>
<h3 class="font-regular text-white text-xl w-[20ch] sm:w-auto ml-auto text-right break-normal opacity-90 lg:relative lg:before:absolute lg:before:bg-bravo before:bottom-0 before:left-0 before:h-full before:w-full before:origin-bottom before:scale-y-[0.35] hover:before:scale-y-100 before:transition-transform before:ease-in-out before:duration-500"><span class="relative cursor-default">Transformando tu vision en realidad</span></h3>
</section> 
</header> 