---
---

<header
  class="flex min-h-[100svh] flex-col items-center bg-[url('/imgs/mobileHeader3.jpg')] bg-cover bg-center bg-no-repeat pt-[9rem] lg:bg-[url('/imgs/mainHeader.webp')]"
>
  <section
    class="mx-auto flex h-full min-h-full grow flex-col justify-between px-6 pb-36 lg:w-[80vw] lg:max-w-[1500px] lg:px-0"
  >
    <h2
      class="2xl:leading[9rem] text-[12vw] font-bold uppercase leading-[14vw] text-white opacity-[90%] lg:w-[11ch] lg:self-end lg:text-right lg:text-[6rem] lg:leading-[7rem] lg:opacity-[80%] xl:text-[7rem] xl:leading-[8rem] 2xl:text-[8rem]"
    >
      Expertos en marketing digital
    </h2>
    <h3
      class="font-regular ml-auto w-[20ch] break-normal text-right text-xl text-white opacity-90 before:bottom-0 before:left-0 before:h-full before:w-full before:origin-bottom before:scale-y-[0.35] before:transition-transform before:duration-500 before:ease-in-out hover:before:scale-y-100 sm:w-auto lg:relative lg:before:absolute lg:before:bg-bravo"
    >
      <span class="relative cursor-default"
        >Transformando tu vision en realidad</span
      >
    </h3>
  </section>
</header>
