---
---

<div
  id="about"
  class="w-100vw mb-[-1px] h-[4rem] bg-alpha [clip-path:polygon(0%_0%,100%_70%,100%_100%,0%_100%)]"
>
</div>
<section class="relative overflow-hidden bg-alpha lg:py-36">
  <h2>sdfsdf</h2>
</section>
<div
  id="about"
  class="w-100vw mb-[-1px] h-[4rem] bg-alpha [clip-path:polygon(0%_0%,100%_0%,100%_100%,0%_30%)]"
>
</div>
