---
---

<section class="bg-gray-100 py-10 sm:py-16 lg:py-24">
  <div class="mx-auto max-w-5xl px-4 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
      <h2
        class="text-3xl font-bold leading-tight text-alpha sm:text-4xl lg:text-5xl"
      >
        Our story in numbers
      </h2>
      <!-- <p class="text-gray-600 mt-3 text-xl leading-relaxed md:mt-8">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis.
      </p> -->
    </div>

    <div
      class="mt-10 grid grid-cols-1 gap-8 text-center sm:gap-x-8 md:grid-cols-3 lg:mt-24"
    >
      <div>
        <h3 class="text-7xl font-bold">
          <span
            class="bg-gradient-to-r from-bravo to-alpha bg-clip-text text-transparent"
          >
            6+
          </span>
        </h3>
        <p class="text-gray-900 mt-4 text-xl font-medium">Years in business</p>
        <p class="text-gray-500 mt-0.5 text-base">
          Creating the successful path
        </p>
      </div>

      <div>
        <h3 class="text-7xl font-bold">
          <span
            class="bg-gradient-to-r from-bravo to-alpha bg-clip-text text-transparent"
          >
            4821
          </span>
        </h3>
        <p class="text-gray-900 mt-4 text-xl font-medium">Projects delivered</p>
        <p class="text-gray-500 mt-0.5 text-base">In last 6 years</p>
      </div>

      <div>
        <h3 class="text-7xl font-bold">
          <span
            class="bg-gradient-to-r from-bravo to-alpha bg-clip-text text-transparent"
          >
            37+
          </span>
        </h3>
        <p class="text-gray-900 mt-4 text-xl font-medium">Team members</p>
        <p class="text-gray-500 mt-0.5 text-base">Working for your success</p>
      </div>
    </div>
  </div>
</section>
