---
---

<section class="blogpost">
  <div class="pt-16">
    <slot />
  </div>
</section>

<style>
  .blogpost {
    max-width: 800px;
    margin: 5rem auto;
  }

  .blogpost :global(p) {
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.8rem;
  }

  .blogpost :global(h6) {
    font-size: 1.2rem;
    font-weight: normal;
  }

  .blogpost :global(h5) {
    font-size: 1.3rem;
    font-weight: normal;
    line-height: 2rem;
    margin: 1.2rem 0;
  }

  .blogpost :global(h4) {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 2rem;
    margin: 1.5rem 0;
  }

  .blogpost :global(h3) {
    font-size: 2rem;
    font-weight: bold;
    line-height: 2rem;
    margin: 1.5rem 0;
    color: #2a25cc;
  }

  .blogpost :global(h2) {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 2.5rem;
    margin: 1.5rem 0;
    color: #2a25cc;
  }

  .blogpost :global(h1) {
    font-size: 3rem;
    font-weight: bold;
    line-height: 3rem;
    margin: 2rem 0;
    color: #2a25cc;
  }

  .blogpost :global(ul) {
    list-style-type: disc;
    padding-left: 4rem;
    margin: 1rem 0;
  }

  .blogpost :global(li) {
    margin: 1rem 0;
  }

  .blogpost :global(ol) {
    list-style-type: decimal;
    padding-left: 4rem;
    margin: 1rem 0;
  }

  .blogpost :global(img) {
    width: 100%;
    margin: 2rem auto;
  }

  .blogpost :global(a) {
    color: #db0bb2;
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 3px;
  }
</style>
