---
---

<section class="mx-auto px-6 pb-16 pt-40 lg:max-w-3xl lg:px-2 xl:max-w-5xl">
  <div class="mb-8">
    <a href="/cases" class="flex items-center gap-2 text-black/70">
      <span
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-4 w-4 text-black/70"
          fill="currentColor"
          viewBox="0 0 24 24"
          ><path
            d="M7.82843 10.9999H20V12.9999H7.82843L13.1924 18.3638L11.7782 19.778L4 11.9999L11.7782 4.22168L13.1924 5.63589L7.82843 10.9999Z"
          ></path></svg
        ></span
      > Back to Cases</a
    >
  </div>
  <div>
    <slot />
  </div>
  <!-- <div class="flex w-full justify-center bg-alpha py-12">
    <a
      href="/#"
      class="rounded-xl bg-white px-4 py-2 font-bold text-alpha transition-all hover:text-bravo"
    >
      See more cases
    </a>
  </div> -->
</section>
