---
---

<section class="mx-auto max-w-5xl pb-16 pt-40">
  <div>
    <slot />
  </div>
  <!-- <div class="flex w-full justify-center bg-alpha py-12">
    <a
      href="/#"
      class="rounded-xl bg-white px-4 py-2 font-bold text-alpha transition-all hover:text-bravo"
    >
      See more cases
    </a>
  </div> -->
</section>
