---
---

<section class="blogpost">
  <div>
    <slot />
  </div>
</section>

<style lang="scss">
  section {
    max-width: 800px;
    margin: 5rem auto;

    & :global(p) {
      font-size: 1rem;
      font-weight: normal;
      line-height: 1.8rem;
    }

    & :global(h6) {
      font-size: 1.2rem;
      font-weight: normal;
    }

    & :global(h5) {
      font-size: 1.4rem;
      font-weight: normal;
      line-height: 2rem;
      margin: 1.2rem 0;
    }

    & :global(h4) {
      font-size: 1.6rem;
      font-weight: normal;
      line-height: 2rem;
      margin: 1.5rem 0;
    }
    & :global(h3) {
      font-size: 2rem;
      font-weight: bold;
      line-height: 2rem;
      margin: 1.5rem 0;
    }

    & :global(h2) {
      font-size: 2.5rem;
      font-weight: bold;
      line-height: 2.5rem;
      margin: 1.5rem 0;
    }
    & :global(h1) {
      font-size: 3rem;
      font-weight: bold;
      line-height: 3rem;
      margin: 2rem 0;
    }

    & :global(ul) {
      list-style-type: disc;
      padding-left: 4rem;
      margin: 1rem 0;
    }

    & :global(li) {
      margin: 1rem 0;
    }

    & :global(ol) {
      list-style-type: decimal;
      padding-left: 4rem;
      margin: 1rem 0;
    }

    & :global(img) {
      width: 100%;
      margin: 2rem auto;
    }

    & :global(a) {
      color: blue;
      cursor: pointer;
      text-decoration: underline;
    }
  }
</style>
