---
export interface Props {
  title: string;
  lang: string;
}
const { title, lang } = Astro.props;

//Global Css Imports
import '../styles/styles.css';

//Component Import
import Nav from '../components/nav/Nav.jsx';
import Footer from '../components/Footer.astro';
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <!-- Meta Data -->
    <meta
      name="description"
      content="We are a group of designers, digital marketers and developers with the desire to offer creative and quality solutions which can be adapted to the requirements of each customer."
    />
    <meta
      name="keywords"
      content="digital, marketing, seo,sem,advertising, agency,growth,branding, performance,programmatic, development, coding,community,managment,crecé,más"
    />
    <meta property="og:site_name" content="Crecé Más - Digital Marketing" />
    <meta property="og:title" content="Crecé Más - Digital Marketing" />
    <meta
      property="og:description"
      content="We are a group of designers, digital marketers and developers with the desire to offer creative and quality solutions which can be adapted to the requirements of each customer."
    />
    <meta
      property="og:image"
      content="https://crece-mas.netlify.app/imgs/logo.png"
    />

    <!-- Font Import -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <!-- AOS CSS -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <title>{title}</title>
  </head>
  <body class="font-franklin">
    <div
      id="preloader"
      class="fixed left-0 top-0 z-[1000] flex min-h-[100svh] min-w-full flex-col items-center justify-center gap-4 bg-alpha transition-opacity duration-500 ease-in"
    >
      <!-- <img src="/imgs/logo.png" alt="" /> -->
      <div class="loader">Loading...</div>
      <!-- <svg
        width="200"
        height="200"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 100 100"
        preserveAspectRatio="xMidYMid"
        class="lds-ripple"
        style="background:0 0"
        ><circle
          cx="50"
          cy="50"
          r="4.719"
          fill="none"
          stroke="#1d3f72"
          stroke-width="2"
          ><animate
            attributeName="r"
            calcMode="spline"
            values="0;40"
            keyTimes="0;1"
            dur="3"
            keySplines="0 0.2 0.8 1"
            begin="-1.5s"
            repeatCount="indefinite"></animate><animate
            attributeName="opacity"
            calcMode="spline"
            values="1;0"
            keyTimes="0;1"
            dur="3"
            keySplines="0.2 0 0.8 1"
            begin="-1.5s"
            repeatCount="indefinite"></animate></circle
        ><circle
          cx="50"
          cy="50"
          r="27.591"
          fill="none"
          stroke="#5699d2"
          stroke-width="2"
          ><animate
            attributeName="r"
            calcMode="spline"
            values="0;40"
            keyTimes="0;1"
            dur="3"
            keySplines="0 0.2 0.8 1"
            begin="0s"
            repeatCount="indefinite"></animate><animate
            attributeName="opacity"
            calcMode="spline"
            values="1;0"
            keyTimes="0;1"
            dur="3"
            keySplines="0.2 0 0.8 1"
            begin="0s"
            repeatCount="indefinite"></animate></circle
        ></svg
      > -->
    </div>
    <Nav client:load lang={lang} />
    <slot />
    <Footer lang={lang} />
    <script is:inline src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <script>
      const preloader = document.getElementById('preloader');
      // const fadeEffect = () => {
      //   setTimeout(() => {
      //     preloader.style.opacity = '0';
      //     setTimeout(() => {
      //       preloader.style.display = 'none';
      //     }, 500);
      //   }, 1000);
      // };

      window.addEventListener('load', fadeEffect);
    </script>
  </body>
</html>

<style>
  .loader,
  .loader:before,
  .loader:after {
    background: #db0bb2;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
  }
  .loader {
    color: #db0bb2;
    text-indent: -9999em;
    margin: 88px auto;
    position: relative;
    font-size: 1rem;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  .loader:before,
  .loader:after {
    position: absolute;
    top: 0;
    content: '';
  }
  .loader:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  .loader:after {
    left: 1.5em;
  }
  @-webkit-keyframes load1 {
    0%,
    80%,
    100% {
      box-shadow: 0 0;
      height: 4em;
    }
    40% {
      box-shadow: 0 -2em;
      height: 5em;
    }
  }
  @keyframes load1 {
    0%,
    80%,
    100% {
      box-shadow: 0 0;
      height: 4em;
    }
    40% {
      box-shadow: 0 -2em;
      height: 5em;
    }
  }
</style>
