---
//Component Import
import Slider from './Slider.jsx';
---

<section class="my-20 bg-white lg:mx-auto lg:w-[80vw]">
  <h2
    class="mb-20 bg-gradient-to-r from-bravo to-alpha bg-clip-text px-6 text-4xl font-bold leading-[3rem] text-transparent"
  >
    Top of mind of the companies in need of marketingn solutions.
  </h2>
  <Slider client:idle />
</section>
